:root {
  --scrollbar: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: $FONT_DEFAULT;
  font-size: 10px;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-text-size-adjust: 100%;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  word-spacing: 1px;
}

@media screen and (max-width: 374px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  html {
    font-size: calc(10px + 10 * (100vw - 375px) / 392);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: calc(8px + 2.7 * (100vw - 768px) / 255);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: calc(7.4px + 2 * (100vw - 1024px) / 255);
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  html {
    font-size: calc(9px + 1 * (100vw - 1280px) / 159);
  }
}

@media (min-width: 1440px) {
  html {
    font-size: calc(10px + 1 * (100vw - 1440px) / 240);
  }
}

html,
body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: $BACKGROUND;
  color: black;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  overflow-x: hidden;
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: optimizeLegibility;

  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2.4rem;
    background: $GREEN;
  }
}

a,
button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  &:focus {
    outline: none;
  }
}

/* stylelint-disable-next-line selector-not-notation */
.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px !important;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

.desktop-only {
  display: none;

  @include tablet-desktop {
    display: block;
  }
}

@keyframes pulse-bg {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #d0d0d0;
  }

  100% {
    background-color: #ddd;
  }
}

.loader {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(black, 0.7);

  &-element {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
